.movie_poster {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    color: white;
}

.text-fields {
    margin-left: 50px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
}

.text-fields h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 40px;
}

.text-fields .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.text-fields button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(5px);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}

.text-fields button svg {
    margin-right: 8px;
}

.text-fields button:hover {
    background: rgba(255, 255, 255, 0.378);
}

.text-fields p {
    max-width: 600px;
}

.poster-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image {
    width: 100%;
    
}